@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

  html {
    font-family: "Pretendard Variable", system-ui, sans-serif;
  }
}

/* Custom CSS */
@layer components {
  .item-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .container-y {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 1rem; /* 16px */
    overflow-y: auto;
  }

  .h-real-screen {
    height: 100vh; /* 기본적으로 vh 사용 */
  }

  @supports (height: 100dvh) {
    .h-real-screen {
      height: 100dvh; /* dvh를 지원하는 경우 dvh 사용 */
    }
  }
}
